<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ArchiveTools" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="ExternalTools" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	
	<appSettings>
		<add key="dbaseServer" value="localhost" />
		<add key="connectionString" value="server=localhost;database=FrontDesk;uid=sa;pwd=sheepi25" />
		<add key="DataProviderAssemblyPath" value="FrontDesk.dll" />
		<add key="DataProviderClassName" value="FrontDesk.Data.Provider.SqlDataProvider" />
		<add key="FileSystemProviderAssemblyPath" value="FrontDesk.dll" />
		<add key="FileSystemProviderClassName" value="FrontDesk.Data.Filesys.Provider.SqlDatabaseFileSystemProvider" />
	</appSettings>
	
	
	<ArchiveTools>
		<add key=".zip" value="FrontDesk.dll;FrontDesk.Tools.ZipTool" />
	</ArchiveTools>
	
	<ExternalTools>
		<add key="Java 1.4.2" 
			value="FrontDesk.dll;FrontDesk.Tools.GenericExternalTool;c:\j2sdk1.4.2_01\bin\java.exe" />
		<add key="Javac 1.4.2" 
			value="FrontDesk.dll;FrontDesk.Tools.GenericExternalTool;c:\j2sdk1.4.2_01\bin\javac.exe" />
		<add key="Perl 5.8.2" 
			value="FrontDesk.dll;FrontDesk.Tools.GenericExternalTool;c:\Perl\bin\perl.exe" />
	</ExternalTools>
	
</configuration>
