<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SubmissionSystems" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ArchiveTools" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Messages" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ExternalTools" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="FileViewers" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="CodeFormatters" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	
	<!-- 
    ******************************
    Application Settings
    ******************************
    -->
	<appSettings>
		<add key="VRoot" value="/FrontDesk/"/>
		<add key="dbaseServer" value="localhost"/>
		<add key="connectionString" value="server=localhost;database=FrontDesk;uid=sa;pwd=sheepi25"/>
		<add key="DataProviderAssemblyPath" value="FrontDesk.Core.dll"/>
		<add key="DataProviderClassName" value="FrontDesk.Data.Provider.SqlDataProvider"/>
		<add key="FileSystemAddress" value="localhost"/>
		<add key="FileSystemProviderAssemblyPath" value="FrontDesk.Core.dll"/>
		<add key="FileSystemProviderClassName" value="FrontDesk.Data.Filesys.Provider.OSFileSystemProvider;E:\FrontDeskFileData\filedata"/>
		<add key="defaultUrl" value="/default.aspx"/>
		<add key="defaultPassword" value="newuser"/>
		<add key="minPasswordLength" value="7"/>
		<add key="backupLocation" value="backups"/>
		<add key="mailServer" value="localhost"/>
	</appSettings>
	
	<!-- Submission system registration. SubmissionSystem factory loads from this section -->
	<SubmissionSystems>
		<add key="Archive Submission System" value="FrontDesk.dll;FrontDesk.Controls.Submission.ArchiveSubmissionSystem"/>
		<add key="CVS Submission System" value="FrontDesk.dll;FrontDesk.Controls.Submission.CVSSubmissionSystem"/>
	</SubmissionSystems>
	
	<FileViewers>
		<add key=".cs" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".cpp" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".c" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".h" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".hpp" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".cc" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".hh" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".java" value="Controls/Filesys/codeviewer.ascx"/>
		<add key=".txt" value="Controls/Filesys/txtfileviewer.ascx"/>
		<add key=".bat" value="Controls/Filesys/txtfileviewer.ascx"/>
		<add key=".pl" value="Controls/Filesys/txtfileviewer.ascx"/>
	</FileViewers>
	
	<CodeFormatters>
		<add key=".java" value="FrontDesk.dll;FrontDesk.Controls.Filesys.JavaCodeFormatter"/>
	</CodeFormatters>
	
	<ArchiveTools>
		<add key=".zip" value="FrontDesk.Core.dll;FrontDesk.Tools.ZipTool"/>
	</ArchiveTools>
	
	<ExternalTools>
		<add key="Java 1.4.2" value="FrontDesk.Core.dll;FrontDesk.Tools.GenericExternalTool;c:\j2sdk1.4.2_01\bin\java.exe"/>
		<add key="Javac 1.4.2" value="FrontDesk.Core.dll;FrontDesk.Tools.GenericExternalTool;c:\j2sdk1.4.2_01\bin\javac.exe"/>
		<add key="Perl 5.8.2" value="FrontDesk.Core.dll;FrontDesk.Tools.GenericExternalTool;c:\Perl\bin\perl.exe"/>
	</ExternalTools>
	
	<Messages>
		<add key="SectionAdd" value="Dear User,
		
	This message is to inform you that FrontDesk user {0} has added {1} to your section on {2}. 

Please do not reply to this auto-generated message. Thanks for using FrontDesk!"/>
		<add key="SectionCreate" value="Dear User,
		
	This message is to inform you that FrontDesk user {0} has created a section for you called {1} at {2}. 

Please do not reply to this auto-generated message. Thanks for using FrontDesk!"/>
		<add key="SectionDrop" value="Dear User, 
		
	This message is to inform you that FrontDesk user {0} has dropped {1} from your section on {2}.
 
Please do not reply to this auto-generated message. Thanks for using FrontDesk!"/>
		<add key="CreateUser" value="Hello, 
This email is to inform you that an account has been created for you on the FrontDesk system. 
Your account information is:\n\nUsername: {0}\nPassword: {1}\nEmail: {2}. 
Log in and feel free to look around and change your information. 

Thank you for using FrontDesk! Please do not respond to this email."/>
		<add key="ChangePassword" value="Hello,
		
	This email is to inform you that your account {0} on FrontDesk has new password: {1}. 

Please do not respond to this email"/>
	</Messages>
		
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true"><assemblies></assemblies></compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.-->

		<customErrors mode="RemoteOnly" defaultRedirect="error.aspx?Code=2"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="None">

		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
</configuration>
